/* Global Resets */

:root {
  font-size: 10px;
  --main-bg-color: #1e6262;
  --element-bg-color: #2d767f;
  --accent-color: #b4f1f1;
  --text-color: #ecfffb;
}

html {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

/* General Setup */

body {
  font-family: 'Segoe UI',-apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: var(--text-color);
  line-height: 1.6;
  text-decoration: none !important;
  border: none !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Global Colors */

/* Typography */

h1, h2 , h3, h4, h5 {
  line-height: 1.2rem;
  font-weight: 600;
  font-family: monospace,-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--accent-color);
}

h1 {
font-size: 5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.6rem;
}

p {
  font-size: 1.8rem;
}

a {
  color: var(--accent-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

